.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: bold;
}

div {
  box-sizing: border-box;
}

h4 {
  color: black;
}

.list {
  text-align: left;
  color: black;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid grey;
}